.about-content{
  text-align: left;
  margin-left: 10%; 
  font-size: 16px; 
}
.about-content p{
  padding-top: 1px;
  line-height: 30px;
}
@media(max-width: 700px)
{
	.about-content{
	  text-align: left;
	  margin-left: 5%; 
	  padding-right: 5%;
	  font-size: 16px; 
	}
	.about-content p{
	  padding-top: 1px;
	  line-height: 30px;
	}
}


