body {
  font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,PingFang SC,"Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  position: relative;
  top: 0;
  color: #444444;
  line-height: 1.8;
  min-height: 100%;
}
.content{
	width: 100%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	background-color: #F7F7F7;
}
.content .message{
	height: 40px;
	width: 100%;
	padding: 0;
	margin-top: 10px;
	text-align: center;
	background-color: #FCFCFC;
}
.content .message p{
	height: 40px;
	width: 50%;
	font-size: 16px;
	/*margin-left: 10%;*/
	float: left;
	padding-top: 4px;
	overflow: hidden;
	text-overflow: ellipsis; 
	white-space: nowrap;  
	text-align: left;
}
.content .message .flag{
	height: 40px;
	width: 30%;
	/*margin-left: 20px;*/
	float: left;
	padding-top: 7px;
	color: #EE4000;
	font-size: 1.2vw;
	text-align: center;
}
.content .message .time{
	height: 40px;
	width: 20%;
	/*margin-left: 20px;*/
	float: left;
	padding-top: 7px;
	font-size: 1vw;
	text-align: center;
	font-weight: 400;
	color: #EEB422;
}































